## https://scikit-learn.org/stable/user_guide.html

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:/File_Name.csv")

# Veri Keşfi

In [3]:
df.head()

,Unnamed: 0,ORTAK_ID,KURUM_ID,UST_KURUM_NO,YIL,IL_ADI,COGRAFI_BOLGE,SERMAYE,VADESI_GECEN_BORC,TOPLAM_BORC,YILLIK_MIN_GELIR,BAK_YUK_OLDUGU_KISI_SAYISI,CINSIYET,ASKERLIK_DURUMU,OGRENIM_DURUMU,MEDENI_DURUMU,ID
0,0,3101345,1800,B020000,2019,ÇANAKKALE,M,1600.0,NaN,48895.32,29808.0,2.0,E,Y,I,E,898B5BE6802A3D1CE053F20BA8C02872
1,1,3101345,1800,B020000,2019,ÇANAKKALE,M,1600.0,NaN,48895.32,56432.0,2.0,E,Y,I,E,898B5BE6802C3D1CE053F20BA8C02872
2,2,3101345,1800,B020000,2019,ÇANAKKALE,M,1600.0,NaN,48895.32,6750.0,2.0,E,Y,I,E,898B5BE6802D3D1CE053F20BA8C02872
3,3,1414089,516,B070000,2019,AKSARAY,I,1000.0,0.00,23852.07,27000.0,5.0,E,Y,I,E,898B5BE6802F3D1CE053F20BA8C02872
4,4,3285870,2101,B020000,2019,ÇANAKKALE,M,1300.0,1054.16,69818.71,81552.0,3.0,E,Y,O,E,898B5BE680313D1CE053F20BA8C02872

In [4]:
len(df)

1082934

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1082934 entries, 0 to 1082933
Data columns (total 17 columns):
Unnamed: 0                    1082934 non-null int64
ORTAK_ID                      1082934 non-null int64
KURUM_ID                      1082934 non-null int64
UST_KURUM_NO                  1082934 non-null object
YIL                           1082934 non-null int64
IL_ADI                        1082934 non-null object
COGRAFI_BOLGE                 1082934 non-null object
SERMAYE                       1082934 non-null float64
VADESI_GECEN_BORC             472941 non-null float64
TOPLAM_BORC                   1076692 non-null float64
YILLIK_MIN_GELIR              1082159 non-null float64
BAK_YUK_OLDUGU_KISI_SAYISI    525914 non-null float64
CINSIYET                      1082934 non-null object
ASKERLIK_DURUMU               1042204 non-null object
OGRENIM_DURUMU                1082934 non-null object
MEDENI_DURUMU                 1082934 non-null object
ID                            1082934 non-null object
dtypes: float64(5), int64(4), object(8)
memory usage: 140.5+ MB

In [6]:
# VADESI_GECEN_BORC boş ( NaN olanlara 0 atadık)
# TOPLAM_BORC boş
# YILLIK_MIN_GELIR boş
# BAK_YUK_OLDUGU_KISI_SAYISI boş
# ASKERLIK_DURUMU boş
#

In [7]:
df.describe()

,Unnamed: 0,ORTAK_ID,KURUM_ID,YIL,SERMAYE,VADESI_GECEN_BORC,TOPLAM_BORC,YILLIK_MIN_GELIR,BAK_YUK_OLDUGU_KISI_SAYISI
count,1.082934e+06,1.082934e+06,1.082934e+06,1082934.0,1.082934e+06,4.729410e+05,1.076692e+06,1.082159e+06,525914.000000
mean,5.414665e+05,1.845919e+06,1.306648e+03,2019.0,1.463034e+03,2.474163e+04,1.001674e+05,1.099001e+06,4.257074
std,3.126163e+05,1.209642e+06,7.713731e+02,0.0,1.239292e+03,8.709293e+04,1.381021e+05,6.138446e+08,1.800734
min,0.000000e+00,3.879000e+03,1.000000e+00,2019.0,0.000000e+00,-2.097000e+03,-2.097000e+03,0.000000e+00,0.000000
25%,2.707332e+05,7.595440e+05,6.250000e+02,2019.0,8.000000e+02,0.000000e+00,2.743972e+04,1.579500e+04,3.000000
50%,5.414665e+05,1.573023e+06,1.362000e+03,2019.0,1.000000e+03,0.000000e+00,5.888711e+04,3.210000e+04,4.000000
75%,8.121998e+05,3.128753e+06,1.961000e+03,2019.0,1.800000e+03,9.379890e+03,1.198723e+05,6.713600e+04,5.000000
max,1.082933e+06,3.707331e+06,5.442000e+03,2019.0,5.000000e+04,6.748045e+06,7.607561e+06,6.000001e+11,85.000000

In [8]:
# TOPLAM_BORC, VADESI_GECEN_BORC içinde eksi değer gördük. İş bilgisine göre bunun olmaması gerekir.
# Bu bir satır olduğu için silme kararı aldık.

In [9]:
df[ df['TOPLAM_BORC'] < 0.0 ].head()

,Unnamed: 0,ORTAK_ID,KURUM_ID,UST_KURUM_NO,YIL,IL_ADI,COGRAFI_BOLGE,SERMAYE,VADESI_GECEN_BORC,TOPLAM_BORC,YILLIK_MIN_GELIR,BAK_YUK_OLDUGU_KISI_SAYISI,CINSIYET,ASKERLIK_DURUMU,OGRENIM_DURUMU,MEDENI_DURUMU,ID
1044672,1044672,1656872,748,B130000,2019,ERZURUM,D,0.0,-2097.0,-2097.0,0.0,NaN,E,M,I,E,898B5C8E8CB73D1CE053F20BA8C02872

In [10]:
# 1044672 satır indeksli kaydı silme
df.drop([1044672], axis=0, inplace=True)

In [11]:
df[ df['TOPLAM_BORC'] < 0.0 ].head()

Empty DataFrame
Columns: [Unnamed: 0, ORTAK_ID, KURUM_ID, UST_KURUM_NO, YIL, IL_ADI, COGRAFI_BOLGE, SERMAYE, VADESI_GECEN_BORC, TOPLAM_BORC, YILLIK_MIN_GELIR, BAK_YUK_OLDUGU_KISI_SAYISI, CINSIYET, ASKERLIK_DURUMU, OGRENIM_DURUMU, MEDENI_DURUMU, ID]
Index: []

# 1.VADESI_GECEN_BORC

In [12]:
# VADESI_GECEN_BORC NaN  ise bunlara 0 değeri atayalım.

In [13]:
# Acaba ne kadar boş NaN değer var
len(df[df['VADESI_GECEN_BORC'].isnull() ])

609993

In [14]:
# NaN olanları 0 yapalım (güncelleyelim)
df.loc[df['VADESI_GECEN_BORC'].isnull(), 'VADESI_GECEN_BORC'] = 0.0

In [15]:
len(df[df['VADESI_GECEN_BORC'].isnull() ])

0

In [16]:
# Acaba kaç kişi borç takmamış 
len(df[df['VADESI_GECEN_BORC'] == 0.0 ])

870525

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1082933 entries, 0 to 1082933
Data columns (total 17 columns):
Unnamed: 0                    1082933 non-null int64
ORTAK_ID                      1082933 non-null int64
KURUM_ID                      1082933 non-null int64
UST_KURUM_NO                  1082933 non-null object
YIL                           1082933 non-null int64
IL_ADI                        1082933 non-null object
COGRAFI_BOLGE                 1082933 non-null object
SERMAYE                       1082933 non-null float64
VADESI_GECEN_BORC             1082933 non-null float64
TOPLAM_BORC                   1076691 non-null float64
YILLIK_MIN_GELIR              1082158 non-null float64
BAK_YUK_OLDUGU_KISI_SAYISI    525914 non-null float64
CINSIYET                      1082933 non-null object
ASKERLIK_DURUMU               1042203 non-null object
OGRENIM_DURUMU                1082933 non-null object
MEDENI_DURUMU                 1082933 non-null object
ID                            1082933 non-null object
dtypes: float64(5), int64(4), object(8)
memory usage: 148.7+ MB

# 2. TOPLAM_BORC

In [18]:
# NaN olanları 0 yapalım (güncelleyelim)
df.loc[df['TOPLAM_BORC'].isnull(), 'TOPLAM_BORC'] = 0.0

In [19]:
len(df[df['TOPLAM_BORC'].isnull() ])

0

# 3. YILLIK_MIN_GELIR

In [20]:
len(df[df['YILLIK_MIN_GELIR'].isnull() ])

775

In [21]:
len(df[df['YILLIK_MIN_GELIR'] == 0.0 ])

1703

In [22]:
# null ve 0 olanları tamamen silmek gerekir. İş bilgisi bunu söylüyor.

In [23]:
df = df.loc[ (df['YILLIK_MIN_GELIR'] != 0.0) & (df['YILLIK_MIN_GELIR'].notnull()) ]

In [24]:
len(df)

1080455

# 4. BAK_YUK_OLDUGU_KISI_SAYISI

In [25]:
len(df[df['BAK_YUK_OLDUGU_KISI_SAYISI'].isnull() ])

554926

In [26]:
# NaN olanları 0 yapalım (güncelleyelim)
df.loc[df['BAK_YUK_OLDUGU_KISI_SAYISI'].isnull(), 'BAK_YUK_OLDUGU_KISI_SAYISI'] = 0.0

# 5. ASKERLIK_DURUMU

In [27]:
df.groupby(['ASKERLIK_DURUMU']).ID \
.agg(['count']) \
.head(10)

                  count
ASKERLIK_DURUMU
M                 39092
P                  6812
R                    60
T                  1268
Y                992670

In [28]:
len(df[df['ASKERLIK_DURUMU'].isnull() ])

40553

In [29]:
# NaN olanları Bilinmiyor anlamında 'B' yapalım (güncelleyelim)
df.loc[ df['ASKERLIK_DURUMU'].isnull(), 'ASKERLIK_DURUMU' ] = 'B'

# Analize dahil edilmeyecek nitelikleri çıkaralım

In [30]:
df.columns

Index(['Unnamed: 0', 'ORTAK_ID', 'KURUM_ID', 'UST_KURUM_NO', 'YIL', 'IL_ADI',
       'COGRAFI_BOLGE', 'SERMAYE', 'VADESI_GECEN_BORC', 'TOPLAM_BORC',
       'YILLIK_MIN_GELIR', 'BAK_YUK_OLDUGU_KISI_SAYISI', 'CINSIYET',
       'ASKERLIK_DURUMU', 'OGRENIM_DURUMU', 'MEDENI_DURUMU', 'ID'],
      dtype='object')

In [31]:
analize_girmeyecekler = ['Unnamed: 0', 'ORTAK_ID', 'KURUM_ID', 'YIL', 'IL_ADI', 'ID']
analize_girecekler = list(  set(df.columns).difference(set(analize_girmeyecekler))   )
analize_girecekler

['YILLIK_MIN_GELIR',
 'BAK_YUK_OLDUGU_KISI_SAYISI',
 'SERMAYE',
 'MEDENI_DURUMU',
 'UST_KURUM_NO',
 'ASKERLIK_DURUMU',
 'COGRAFI_BOLGE',
 'CINSIYET',
 'VADESI_GECEN_BORC',
 'OGRENIM_DURUMU',
 'TOPLAM_BORC']

In [32]:
df[analize_girecekler].head()

,YILLIK_MIN_GELIR,BAK_YUK_OLDUGU_KISI_SAYISI,SERMAYE,MEDENI_DURUMU,UST_KURUM_NO,ASKERLIK_DURUMU,COGRAFI_BOLGE,CINSIYET,VADESI_GECEN_BORC,OGRENIM_DURUMU,TOPLAM_BORC
0,29808.0,2.0,1600.0,E,B020000,Y,M,E,0.00,I,48895.32
1,56432.0,2.0,1600.0,E,B020000,Y,M,E,0.00,I,48895.32
2,6750.0,2.0,1600.0,E,B020000,Y,M,E,0.00,I,48895.32
3,27000.0,5.0,1000.0,E,B070000,Y,I,E,0.00,I,23852.07
4,81552.0,3.0,1300.0,E,B020000,Y,M,E,1054.16,O,69818.71

# Analize girecek kategorik değişkenlerimiz

In [33]:
analize_girecek_kategorikler = []
for i in analize_girecekler:
    if (df[i].dtypes == 'object'):
        print(i)
        analize_girecek_kategorikler.append(i)
analize_girecek_kategorikler

MEDENI_DURUMU
UST_KURUM_NO
ASKERLIK_DURUMU
COGRAFI_BOLGE
CINSIYET
OGRENIM_DURUMU

['MEDENI_DURUMU',
 'UST_KURUM_NO',
 'ASKERLIK_DURUMU',
 'COGRAFI_BOLGE',
 'CINSIYET',
 'OGRENIM_DURUMU']

In [34]:
# Her kategorik değişken için kaç farklı tekil kategori var 
print("UST_KURUM_NO:",len(df['UST_KURUM_NO'].unique()))
print("COGRAFI_BOLGE:",len(df['COGRAFI_BOLGE'].unique()))
print("CINSIYET:",len(df['CINSIYET'].unique()))
print("ASKERLIK_DURUMU:",len(df['ASKERLIK_DURUMU'].unique()))
print("OGRENIM_DURUMU:",len(df['OGRENIM_DURUMU'].unique()))
print("MEDENI_DURUMU:",len(df['MEDENI_DURUMU'].unique()))
# Aşırı kategori istenmez mümkünse her bir kategorik nitelik 10-15 ten fazla

UST_KURUM_NO: 17
COGRAFI_BOLGE: 7
CINSIYET: 2
ASKERLIK_DURUMU: 6
OGRENIM_DURUMU: 7
MEDENI_DURUMU: 6

In [35]:
df[analize_girecekler].head()

,YILLIK_MIN_GELIR,BAK_YUK_OLDUGU_KISI_SAYISI,SERMAYE,MEDENI_DURUMU,UST_KURUM_NO,ASKERLIK_DURUMU,COGRAFI_BOLGE,CINSIYET,VADESI_GECEN_BORC,OGRENIM_DURUMU,TOPLAM_BORC
0,29808.0,2.0,1600.0,E,B020000,Y,M,E,0.00,I,48895.32
1,56432.0,2.0,1600.0,E,B020000,Y,M,E,0.00,I,48895.32
2,6750.0,2.0,1600.0,E,B020000,Y,M,E,0.00,I,48895.32
3,27000.0,5.0,1000.0,E,B070000,Y,I,E,0.00,I,23852.07
4,81552.0,3.0,1300.0,E,B020000,Y,M,E,1054.16,O,69818.71

## LabelEncoder ve OneHotEncoder kullanmadan ve gölge değişken tuzağından kurtularak
## kategorik nitelikleri işleme yöntemi

In [291]:
df_ornek = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                 'C': [1, 2, 3]})
df_ornek.head()

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [292]:
df_ornek2 = pd.get_dummies(df_ornek, prefix=['A', 'B'], drop_first=False)
df_ornek2.head()

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1

In [293]:
df_ornek2 = pd.get_dummies(df_ornek, prefix=['A', 'B'], drop_first=True)
df_ornek2.head()

   C  A_b  B_b  B_c
0  1    0    1    0
1  2    1    0    0
2  3    0    0    1

## Yukarıdaki örnekten sonra kendi verimize dönelim

In [294]:
# analize girecek dataframe içinden kategorik (string) 
# drop_first gölge değişkenleri düşür

df_dummy = pd.get_dummies(df[analize_girecekler], 
                          drop_first=True,
                          prefix=analize_girecek_kategorikler)

In [295]:
df_dummy.drop('ASKERLIK_DURUMU_R', axis=1, inplace=True)

In [296]:
df_dummy.head()

,VADESI_GECEN_BORC,TOPLAM_BORC,BAK_YUK_OLDUGU_KISI_SAYISI,YILLIK_MIN_GELIR,SERMAYE,MEDENI_DURUMU_Boşanmış,MEDENI_DURUMU_Dul,MEDENI_DURUMU_E,MEDENI_DURUMU_Evliliğin Feshi,MEDENI_DURUMU_Evliliğin İptali,...,OGRENIM_DURUMU_O,OGRENIM_DURUMU_R,OGRENIM_DURUMU_T,OGRENIM_DURUMU_U,OGRENIM_DURUMU_Y,CINSIYET_K,ASKERLIK_DURUMU_M,ASKERLIK_DURUMU_P,ASKERLIK_DURUMU_T,ASKERLIK_DURUMU_Y
0,0.00,48895.32,2.0,29808.0,1600.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0.00,48895.32,2.0,56432.0,1600.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.00,48895.32,2.0,6750.0,1600.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.00,23852.07,5.0,27000.0,1000.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1054.16,69818.71,3.0,81552.0,1300.0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [297]:
df_dummy.columns

Index(['VADESI_GECEN_BORC', 'TOPLAM_BORC', 'BAK_YUK_OLDUGU_KISI_SAYISI',
       'YILLIK_MIN_GELIR', 'SERMAYE', 'MEDENI_DURUMU_Boşanmış',
       'MEDENI_DURUMU_Dul', 'MEDENI_DURUMU_E', 'MEDENI_DURUMU_Evliliğin Feshi',
       'MEDENI_DURUMU_Evliliğin İptali', 'UST_KURUM_NO_B020000',
       'UST_KURUM_NO_B030000', 'UST_KURUM_NO_B040000', 'UST_KURUM_NO_B050000',
       'UST_KURUM_NO_B060000', 'UST_KURUM_NO_B070000', 'UST_KURUM_NO_B080000',
       'UST_KURUM_NO_B090000', 'UST_KURUM_NO_B100000', 'UST_KURUM_NO_B110000',
       'UST_KURUM_NO_B120000', 'UST_KURUM_NO_B130000', 'UST_KURUM_NO_B140000',
       'UST_KURUM_NO_B150000', 'UST_KURUM_NO_B160000', 'UST_KURUM_NO_B170000',
       'COGRAFI_BOLGE_D', 'COGRAFI_BOLGE_E', 'COGRAFI_BOLGE_G',
       'COGRAFI_BOLGE_I', 'COGRAFI_BOLGE_K', 'COGRAFI_BOLGE_M',
       'OGRENIM_DURUMU_L', 'OGRENIM_DURUMU_O', 'OGRENIM_DURUMU_R',
       'OGRENIM_DURUMU_T', 'OGRENIM_DURUMU_U', 'OGRENIM_DURUMU_Y',
       'CINSIYET_K', 'ASKERLIK_DURUMU_M', 'ASKERLIK_DURUMU_P',
       'ASKERLIK_DURUMU_T', 'ASKERLIK_DURUMU_Y'],
      dtype='object')

# Nitelikleri yeniden sırala

In [298]:
df = df_dummy[[ 'TOPLAM_BORC', 'BAK_YUK_OLDUGU_KISI_SAYISI',
       'YILLIK_MIN_GELIR', 'SERMAYE', 'MEDENI_DURUMU_Boşanmış',
       'MEDENI_DURUMU_Dul', 'MEDENI_DURUMU_E',
       'MEDENI_DURUMU_Evliliğin İptali', 'UST_KURUM_NO_B020000',
       'UST_KURUM_NO_B030000', 'UST_KURUM_NO_B040000', 'UST_KURUM_NO_B050000',
       'UST_KURUM_NO_B060000', 'UST_KURUM_NO_B070000', 'UST_KURUM_NO_B080000',
       'UST_KURUM_NO_B090000', 'UST_KURUM_NO_B100000', 'UST_KURUM_NO_B110000',
       'UST_KURUM_NO_B120000', 'UST_KURUM_NO_B130000', 'UST_KURUM_NO_B140000',
       'UST_KURUM_NO_B150000', 'UST_KURUM_NO_B160000', 'UST_KURUM_NO_B170000',
       'COGRAFI_BOLGE_D', 'COGRAFI_BOLGE_E', 'COGRAFI_BOLGE_G',
       'COGRAFI_BOLGE_I', 'COGRAFI_BOLGE_K', 'COGRAFI_BOLGE_M',
       'OGRENIM_DURUMU_L', 'OGRENIM_DURUMU_O', 'OGRENIM_DURUMU_R',
       'OGRENIM_DURUMU_T', 'OGRENIM_DURUMU_U', 'OGRENIM_DURUMU_Y',
       'CINSIYET_K', 'ASKERLIK_DURUMU_M', 'ASKERLIK_DURUMU_P',
       'ASKERLIK_DURUMU_T', 'ASKERLIK_DURUMU_Y', 'VADESI_GECEN_BORC']]

In [299]:
df.head()

,TOPLAM_BORC,BAK_YUK_OLDUGU_KISI_SAYISI,YILLIK_MIN_GELIR,SERMAYE,MEDENI_DURUMU_Boşanmış,MEDENI_DURUMU_Dul,MEDENI_DURUMU_E,MEDENI_DURUMU_Evliliğin İptali,UST_KURUM_NO_B020000,UST_KURUM_NO_B030000,...,OGRENIM_DURUMU_R,OGRENIM_DURUMU_T,OGRENIM_DURUMU_U,OGRENIM_DURUMU_Y,CINSIYET_K,ASKERLIK_DURUMU_M,ASKERLIK_DURUMU_P,ASKERLIK_DURUMU_T,ASKERLIK_DURUMU_Y,VADESI_GECEN_BORC
0,48895.32,2.0,29808.0,1600.0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0.00
1,48895.32,2.0,56432.0,1600.0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0.00
2,48895.32,2.0,6750.0,1600.0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0.00
3,23852.07,5.0,27000.0,1000.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0.00
4,69818.71,3.0,81552.0,1300.0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,1054.16

In [300]:
# Girdi değişkenlerin hedef değişken ile korelasyonları
df.corrwith(df['VADESI_GECEN_BORC']).sort_values(ascending=False)

VADESI_GECEN_BORC                 1.000000
TOPLAM_BORC                       0.472540
SERMAYE                           0.278305
CINSIYET_K                        0.040652
COGRAFI_BOLGE_G                   0.037079
UST_KURUM_NO_B160000              0.028288
UST_KURUM_NO_B170000              0.025839
UST_KURUM_NO_B070000              0.024855
MEDENI_DURUMU_Boşanmış            0.024780
OGRENIM_DURUMU_L                  0.024697
OGRENIM_DURUMU_U                  0.023206
UST_KURUM_NO_B030000              0.021018
ASKERLIK_DURUMU_M                 0.015285
ASKERLIK_DURUMU_P                 0.014890
UST_KURUM_NO_B040000              0.014328
COGRAFI_BOLGE_M                   0.011354
ASKERLIK_DURUMU_T                 0.011167
UST_KURUM_NO_B110000              0.008065
UST_KURUM_NO_B150000              0.006977
UST_KURUM_NO_B020000              0.006332
MEDENI_DURUMU_Dul                 0.003580
OGRENIM_DURUMU_Y                  0.003532
OGRENIM_DURUMU_O                  0.003494
YILLIK_MIN_GELIR                  0.003173
OGRENIM_DURUMU_T                  0.002954
MEDENI_DURUMU_Evliliğin İptali    0.001462
UST_KURUM_NO_B140000              0.001394
UST_KURUM_NO_B130000             -0.003028
OGRENIM_DURUMU_R                 -0.004393
COGRAFI_BOLGE_E                  -0.005318
COGRAFI_BOLGE_I                  -0.006719
UST_KURUM_NO_B080000             -0.007879
COGRAFI_BOLGE_K                  -0.011444
COGRAFI_BOLGE_D                  -0.012694
UST_KURUM_NO_B120000             -0.016268
UST_KURUM_NO_B100000             -0.016315
UST_KURUM_NO_B060000             -0.020585
BAK_YUK_OLDUGU_KISI_SAYISI       -0.021589
UST_KURUM_NO_B090000             -0.023377
UST_KURUM_NO_B050000             -0.033255
ASKERLIK_DURUMU_Y                -0.043042
MEDENI_DURUMU_E                  -0.043059
dtype: float64

# Veri setini X ve y olarak ayırma (Dikey bölme)

In [301]:
# Nitelikler matrisi (feature matrix)
X = df.iloc[:,:-1].values
X.shape

(1080455, 41)

In [302]:
X[:2]

array([[4.889532e+04, 2.000000e+00, 2.980800e+04, 1.600000e+03,
        0.000000e+00, 0.000000e+00, 1.000000e+00, 0.000000e+00,
        1.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 1.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        1.000000e+00],
       [4.889532e+04, 2.000000e+00, 5.643200e+04, 1.600000e+03,
        0.000000e+00, 0.000000e+00, 1.000000e+00, 0.000000e+00,
        1.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 1.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        1.000000e+00]])

In [303]:
type(X)

numpy.ndarray

In [304]:
# VADESI_GECEN_BORC hedef değişken 8. indekste
y = df.iloc[:,-1].values
y.shape

(1080455,)

In [305]:
type(y)

numpy.ndarray

In [306]:
y[:40]

array([   0.  ,    0.  ,    0.  ,    0.  , 1054.16, 1054.16,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  , 7427.49,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,    0.  ,
          0.  ,    0.  ,    0.  ,    0.  ,    0.  ])

# Veri setini train-test olarak ayırma (yatay bölme)

In [307]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
            test_size=0.25, random_state = 142)

In [308]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(810341, 41)
(810341,)
(270114, 41)
(270114,)

# Lineer Regresyon Nesnesi Oluşturma (Boş model yaratma)

In [309]:
from sklearn.linear_model import LinearRegression

In [310]:
regressor = LinearRegression()

# Lineer modeli eğitme (modeli şekillendirme - veriye uydurma - eğitme)

In [311]:
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Eğitilmiş modelle (makine) test seti kullanarak tahmin

In [312]:
y_pred = regressor.predict(X_test)

## Tahmin sonuçlarını numpy.ndarray'den dataframe yapma (İncelemek daha Kolay)

In [313]:
predictions = pd.DataFrame(data=y_pred,    # values
                index=range(len(y_pred)),    # 1st column as index
                   columns=['y_pred'])  # 1st row as the column names

# Sadece y_pred'den oluşan df'e test(gerçek) y_test'i sütun olarak ekleme
predictions['y_test'] = y_test
predictions[predictions['y_test']  > 1].head(15)

          y_pred     y_test
2    2755.507115    2071.51
5   27162.589089  227067.95
13   -628.976252    4598.06
14  27773.002159    2843.48
17  13256.802619    3429.06
24  20404.339520   24671.77
27  13410.620019    1779.33
28   4918.411812   24538.57
30 -11644.767613     518.23
36   2072.721799    1262.58
39  11630.498431   18710.23
42   7127.596909    1593.27
45  -7810.121884      62.87
46  42742.582283  302344.09
47   1917.775300    7378.68

# Regression metrics

## explained_variance

In [314]:
# The sklearn.metrics module implements several loss, score, and utility functions to measure 
# regression performance. Some of those have been enhanced to handle the multioutput case: 
# mean_squared_error, mean_absolute_error, explained_variance_score and r2_score.

In [315]:
from sklearn.metrics import explained_variance_score

In [316]:
explained_variance_score(y_true=y_test, y_pred=y_pred)

0.24993458492350118

## mean_absolute_error

In [317]:
from sklearn.metrics import mean_absolute_error

In [318]:
mean_absolute_error(y_true=y_test, y_pred=y_pred)

18784.97286668461

## r2_score

In [319]:
from sklearn.metrics import r2_score

In [320]:
r2_score(y_test, y_pred)

0.24993391748310356

# Model Anlamlılığı

In [321]:
# Scikit-learn model anlamlılığı için bir araç sunmuyor. 
# Bu sebeple statsmodel modülünü kullanacağız

In [322]:
# !pip install statsmodels

In [323]:
# !pip install patsy

In [324]:
# !pip install factorial

In [325]:
# factorial hatası alınırsa
# !pip install scipy==1.2 --upgrade

In [326]:
import statsmodels.api as sm

In [327]:
# Sabit Ekleme (aslında sabitin önünde bir tane x üzeri 0 var. 
# Onu temsilen yeni bir sütunu 1'ler ile dolduruyoruz)

In [328]:
X = sm.add_constant(X)

In [329]:
X.shape

(1080455, 42)

In [335]:
X[:2]

array([[1.000000e+00, 4.889532e+04, 2.000000e+00, 2.980800e+04,
        1.600000e+03, 0.000000e+00, 0.000000e+00, 1.000000e+00,
        0.000000e+00, 1.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 1.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 1.000000e+00],
       [1.000000e+00, 4.889532e+04, 2.000000e+00, 5.643200e+04,
        1.600000e+03, 0.000000e+00, 0.000000e+00, 1.000000e+00,
        0.000000e+00, 1.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 1.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 1.000000e+00]])

In [331]:
reg_OLS_model = sm.OLS(endog=y, exog=X).fit()

In [332]:
reg_OLS_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.250
Model:                            OLS   Adj. R-squared:                  0.250
Method:                 Least Squares   F-statistic:                     8769.
Date:                Thu, 04 Jul 2019   Prob (F-statistic):               0.00
Time:                        10:25:45   Log-Likelihood:            -1.3244e+07
No. Observations:             1080455   AIC:                         2.649e+07
Df Residuals:                 1080413   BIC:                         2.649e+07
Df Model:                          41
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       6620.3364   1592.997      4.156      0.000    3498.115    9742.557
x1             0.2776      0.001    486.397      0.000       0.276       0.279
x2          -100.1202     20.775     -4.819      0.000    -140.839     -59.402
x3          2.054e-07   7.98e-08      2.573      0.010    4.89e-08    3.62e-07
x4           -10.6186      0.065   -163.337      0.000     -10.746     -10.491
x5          5269.0003    507.946     10.373      0.000    4273.444    6264.557
x6          1.488e+04   4657.596      3.195      0.001    5751.171     2.4e+04
x7         -4568.0567    207.002    -22.068      0.000   -4973.774   -4162.339
x8          1.115e+04   9998.337      1.115      0.265   -8444.431    3.07e+04
x9          7799.0340    240.228     32.465      0.000    7328.195    8269.873
x10         1.355e+04    305.512     44.349      0.000     1.3e+04    1.41e+04
x11         1.096e+04    536.642     20.428      0.000    9910.712     1.2e+04
x12         5533.9304    485.034     11.409      0.000    4583.280    6484.581
x13         -810.2387   1450.538     -0.559      0.576   -3653.245    2032.767
x14         1.554e+04    492.135     31.573      0.000    1.46e+04    1.65e+04
x15         9503.3323    444.909     21.360      0.000    8631.326    1.04e+04
x16         6678.7653    487.864     13.690      0.000    5722.569    7634.962
x17         9435.8148    470.533     20.053      0.000    8513.586    1.04e+04
x18         1.255e+04    444.722     28.219      0.000    1.17e+04    1.34e+04
x19         1.261e+04    473.836     26.615      0.000    1.17e+04    1.35e+04
x20         1.412e+04    970.623     14.552      0.000    1.22e+04     1.6e+04
x21         7683.9333    976.790      7.867      0.000    5769.458    9598.409
x22        -7937.0415   1350.904     -5.875      0.000   -1.06e+04   -5289.316
x23         1412.1577   1451.436      0.973      0.331   -1432.608    4256.923
x24         6701.4997   1291.208      5.190      0.000    4170.776    9232.223
x25        -1.315e+04   1104.043    -11.910      0.000   -1.53e+04    -1.1e+04
x26        -9483.5164   1438.276     -6.594      0.000   -1.23e+04   -6664.544
x27        -7133.3874    754.324     -9.457      0.000   -8611.836   -5654.939
x28        -1.409e+04   1386.526    -10.162      0.000   -1.68e+04   -1.14e+04
x29        -9643.5443   1385.688     -6.959      0.000   -1.24e+04   -6927.643
x30        -6844.8699   1424.736     -4.804      0.000   -9637.305   -4052.435
x31        -1582.3219    181.747     -8.706      0.000   -1938.539   -1226.105
x32        -1467.2960    185.558     -7.907      0.000   -1830.984   -1103.608
x33         1841.5207    219.423      8.393      0.000    1411.460    2271.582
x34         2157.8322   2939.504      0.734      0.463   -3603.497    7919.161
x35        -1517.1842    513.014     -2.957      0.003   -2522.674    -511.694
x36        -3270.0328    489.336     -6.683      0.000   -4229.114   -2310.951
x37         1972.4452    598.435      3.296      0.001     799.532    3145.359
x38        -1480.9341    374.726     -3.952      0.000   -2215.385    -746.483
x39        -1719.6524    888.370     -1.936      0.053   -3460.828      21.523
x40         3090.7429   1585.414      1.949      0.051     -16.614    6198.100
x41        -2707.2905    649.192     -4.170      0.000   -3979.684   -1434.897
==============================================================================
Omnibus:                  1702417.245   Durbin-Watson:                   1.109
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       4393893298.298
Skew:                           9.578   Prob(JB):                         0.00
Kurtosis:                     314.824   Cond. No.                     1.25e+11
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.25e+11. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [333]:
df.columns

Index(['TOPLAM_BORC', 'BAK_YUK_OLDUGU_KISI_SAYISI', 'YILLIK_MIN_GELIR',
       'SERMAYE', 'MEDENI_DURUMU_Boşanmış', 'MEDENI_DURUMU_Dul',
       'MEDENI_DURUMU_E', 'MEDENI_DURUMU_Evliliğin İptali',
       'UST_KURUM_NO_B020000', 'UST_KURUM_NO_B030000', 'UST_KURUM_NO_B040000',
       'UST_KURUM_NO_B050000', 'UST_KURUM_NO_B060000', 'UST_KURUM_NO_B070000',
       'UST_KURUM_NO_B080000', 'UST_KURUM_NO_B090000', 'UST_KURUM_NO_B100000',
       'UST_KURUM_NO_B110000', 'UST_KURUM_NO_B120000', 'UST_KURUM_NO_B130000',
       'UST_KURUM_NO_B140000', 'UST_KURUM_NO_B150000', 'UST_KURUM_NO_B160000',
       'UST_KURUM_NO_B170000', 'COGRAFI_BOLGE_D', 'COGRAFI_BOLGE_E',
       'COGRAFI_BOLGE_G', 'COGRAFI_BOLGE_I', 'COGRAFI_BOLGE_K',
       'COGRAFI_BOLGE_M', 'OGRENIM_DURUMU_L', 'OGRENIM_DURUMU_O',
       'OGRENIM_DURUMU_R', 'OGRENIM_DURUMU_T', 'OGRENIM_DURUMU_U',
       'OGRENIM_DURUMU_Y', 'CINSIYET_K', 'ASKERLIK_DURUMU_M',
       'ASKERLIK_DURUMU_P', 'ASKERLIK_DURUMU_T', 'ASKERLIK_DURUMU_Y',
       'VADESI_GECEN_BORC'],
      dtype='object')