## https://scikit-learn.org/stable/user_guide.html

In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv("D:/File_Name.csv")

# Veri Keşfi

In [39]:
df.head()

,Unnamed: 0,ORTAK_ID,KURUM_ID,UST_KURUM_NO,YIL,IL_ADI,COGRAFI_BOLGE,SERMAYE,VADESI_GECEN_BORC,TOPLAM_BORC,YILLIK_MIN_GELIR,BAK_YUK_OLDUGU_KISI_SAYISI,CINSIYET,ASKERLIK_DURUMU,OGRENIM_DURUMU,MEDENI_DURUMU,ID
0,0,3101345,1800,B020000,2019,ÇANAKKALE,M,1600.0,NaN,48895.32,29808.0,2.0,E,Y,I,E,898B5BE6802A3D1CE053F20BA8C02872
1,1,3101345,1800,B020000,2019,ÇANAKKALE,M,1600.0,NaN,48895.32,56432.0,2.0,E,Y,I,E,898B5BE6802C3D1CE053F20BA8C02872
2,2,3101345,1800,B020000,2019,ÇANAKKALE,M,1600.0,NaN,48895.32,6750.0,2.0,E,Y,I,E,898B5BE6802D3D1CE053F20BA8C02872
3,3,1414089,516,B070000,2019,AKSARAY,I,1000.0,0.00,23852.07,27000.0,5.0,E,Y,I,E,898B5BE6802F3D1CE053F20BA8C02872
4,4,3285870,2101,B020000,2019,ÇANAKKALE,M,1300.0,1054.16,69818.71,81552.0,3.0,E,Y,O,E,898B5BE680313D1CE053F20BA8C02872

In [40]:
len(df)

1082934

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1082934 entries, 0 to 1082933
Data columns (total 17 columns):
Unnamed: 0                    1082934 non-null int64
ORTAK_ID                      1082934 non-null int64
KURUM_ID                      1082934 non-null int64
UST_KURUM_NO                  1082934 non-null object
YIL                           1082934 non-null int64
IL_ADI                        1082934 non-null object
COGRAFI_BOLGE                 1082934 non-null object
SERMAYE                       1082934 non-null float64
VADESI_GECEN_BORC             472941 non-null float64
TOPLAM_BORC                   1076692 non-null float64
YILLIK_MIN_GELIR              1082159 non-null float64
BAK_YUK_OLDUGU_KISI_SAYISI    525914 non-null float64
CINSIYET                      1082934 non-null object
ASKERLIK_DURUMU               1042204 non-null object
OGRENIM_DURUMU                1082934 non-null object
MEDENI_DURUMU                 1082934 non-null object
ID                            1082934 non-null object
dtypes: float64(5), int64(4), object(8)
memory usage: 140.5+ MB

In [42]:
# VADESI_GECEN_BORC boş ( NaN olanlara 0 atadık)
# TOPLAM_BORC boş
# YILLIK_MIN_GELIR boş
# BAK_YUK_OLDUGU_KISI_SAYISI boş
# ASKERLIK_DURUMU boş
#

In [43]:
df.describe()

,Unnamed: 0,ORTAK_ID,KURUM_ID,YIL,SERMAYE,VADESI_GECEN_BORC,TOPLAM_BORC,YILLIK_MIN_GELIR,BAK_YUK_OLDUGU_KISI_SAYISI
count,1.082934e+06,1.082934e+06,1.082934e+06,1082934.0,1.082934e+06,4.729410e+05,1.076692e+06,1.082159e+06,525914.000000
mean,5.414665e+05,1.845919e+06,1.306648e+03,2019.0,1.463034e+03,2.474163e+04,1.001674e+05,1.099001e+06,4.257074
std,3.126163e+05,1.209642e+06,7.713731e+02,0.0,1.239292e+03,8.709293e+04,1.381021e+05,6.138446e+08,1.800734
min,0.000000e+00,3.879000e+03,1.000000e+00,2019.0,0.000000e+00,-2.097000e+03,-2.097000e+03,0.000000e+00,0.000000
25%,2.707332e+05,7.595440e+05,6.250000e+02,2019.0,8.000000e+02,0.000000e+00,2.743972e+04,1.579500e+04,3.000000
50%,5.414665e+05,1.573023e+06,1.362000e+03,2019.0,1.000000e+03,0.000000e+00,5.888711e+04,3.210000e+04,4.000000
75%,8.121998e+05,3.128753e+06,1.961000e+03,2019.0,1.800000e+03,9.379890e+03,1.198723e+05,6.713600e+04,5.000000
max,1.082933e+06,3.707331e+06,5.442000e+03,2019.0,5.000000e+04,6.748045e+06,7.607561e+06,6.000001e+11,85.000000

In [44]:
# TOPLAM_BORC, VADESI_GECEN_BORC içinde eksi değer gördük. İş bilgisine göre bunun olmaması gerekir.
# Bu bir satır olduğu için silme kararı aldık.

In [45]:
df[ df['TOPLAM_BORC'] < 0.0 ].head()

,Unnamed: 0,ORTAK_ID,KURUM_ID,UST_KURUM_NO,YIL,IL_ADI,COGRAFI_BOLGE,SERMAYE,VADESI_GECEN_BORC,TOPLAM_BORC,YILLIK_MIN_GELIR,BAK_YUK_OLDUGU_KISI_SAYISI,CINSIYET,ASKERLIK_DURUMU,OGRENIM_DURUMU,MEDENI_DURUMU,ID
1044672,1044672,1656872,748,B130000,2019,ERZURUM,D,0.0,-2097.0,-2097.0,0.0,NaN,E,M,I,E,898B5C8E8CB73D1CE053F20BA8C02872

In [46]:
# 1044672 satır indeksli kaydı silme
df.drop([1044672], axis=0, inplace=True)

In [47]:
df[ df['TOPLAM_BORC'] < 0.0 ].head()

Empty DataFrame
Columns: [Unnamed: 0, ORTAK_ID, KURUM_ID, UST_KURUM_NO, YIL, IL_ADI, COGRAFI_BOLGE, SERMAYE, VADESI_GECEN_BORC, TOPLAM_BORC, YILLIK_MIN_GELIR, BAK_YUK_OLDUGU_KISI_SAYISI, CINSIYET, ASKERLIK_DURUMU, OGRENIM_DURUMU, MEDENI_DURUMU, ID]
Index: []

# 1.VADESI_GECEN_BORC

In [48]:
# VADESI_GECEN_BORC NaN  ise bunlara 0 değeri atayalım.

In [49]:
# Acaba ne kadar boş NaN değer var
len(df[df['VADESI_GECEN_BORC'].isnull() ])

609993

In [50]:
# NaN olanları 0 yapalım (güncelleyelim)
df.loc[df['VADESI_GECEN_BORC'].isnull(), 'VADESI_GECEN_BORC'] = 0.0

In [51]:
len(df[df['VADESI_GECEN_BORC'].isnull() ])

0

In [52]:
# Acaba kaç kişi borç takmamış 
len(df[df['VADESI_GECEN_BORC'] == 0.0 ])

870525

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1082933 entries, 0 to 1082933
Data columns (total 17 columns):
Unnamed: 0                    1082933 non-null int64
ORTAK_ID                      1082933 non-null int64
KURUM_ID                      1082933 non-null int64
UST_KURUM_NO                  1082933 non-null object
YIL                           1082933 non-null int64
IL_ADI                        1082933 non-null object
COGRAFI_BOLGE                 1082933 non-null object
SERMAYE                       1082933 non-null float64
VADESI_GECEN_BORC             1082933 non-null float64
TOPLAM_BORC                   1076691 non-null float64
YILLIK_MIN_GELIR              1082158 non-null float64
BAK_YUK_OLDUGU_KISI_SAYISI    525914 non-null float64
CINSIYET                      1082933 non-null object
ASKERLIK_DURUMU               1042203 non-null object
OGRENIM_DURUMU                1082933 non-null object
MEDENI_DURUMU                 1082933 non-null object
ID                            1082933 non-null object
dtypes: float64(5), int64(4), object(8)
memory usage: 148.7+ MB

# 2. TOPLAM_BORC

In [54]:
# NaN olanları 0 yapalım (güncelleyelim)
df.loc[df['TOPLAM_BORC'].isnull(), 'TOPLAM_BORC'] = 0.0

In [55]:
len(df[df['TOPLAM_BORC'].isnull() ])

0

# 3. YILLIK_MIN_GELIR

In [56]:
len(df[df['YILLIK_MIN_GELIR'].isnull() ])

775

In [57]:
len(df[df['YILLIK_MIN_GELIR'] == 0.0 ])

1703

In [58]:
# null ve 0 olanları tamamen silmek gerekir. İş bilgisi bunu söylüyor.

In [59]:
df = df.loc[ (df['YILLIK_MIN_GELIR'] != 0.0) & (df['YILLIK_MIN_GELIR'].notnull()) ]

In [60]:
len(df)

1080455

# 4. BAK_YUK_OLDUGU_KISI_SAYISI

In [61]:
len(df[df['BAK_YUK_OLDUGU_KISI_SAYISI'].isnull() ])

554926

In [62]:
# NaN olanları 0 yapalım (güncelleyelim)
df.loc[df['BAK_YUK_OLDUGU_KISI_SAYISI'].isnull(), 'BAK_YUK_OLDUGU_KISI_SAYISI'] = 0.0

# 5. ASKERLIK_DURUMU

In [63]:
df.groupby(['ASKERLIK_DURUMU']).ID \
.agg(['count']) \
.head(10)

                  count
ASKERLIK_DURUMU
M                 39092
P                  6812
R                    60
T                  1268
Y                992670

In [64]:
len(df[df['ASKERLIK_DURUMU'].isnull() ])

40553

In [65]:
# NaN olanları Bilinmiyor anlamında 'B' yapalım (güncelleyelim)
df.loc[ df['ASKERLIK_DURUMU'].isnull(), 'ASKERLIK_DURUMU' ] = 'B'

# Analize dahil edilmeyecek nitelikleri çıkaralım

In [66]:
df.columns

Index(['Unnamed: 0', 'ORTAK_ID', 'KURUM_ID', 'UST_KURUM_NO', 'YIL', 'IL_ADI',
       'COGRAFI_BOLGE', 'SERMAYE', 'VADESI_GECEN_BORC', 'TOPLAM_BORC',
       'YILLIK_MIN_GELIR', 'BAK_YUK_OLDUGU_KISI_SAYISI', 'CINSIYET',
       'ASKERLIK_DURUMU', 'OGRENIM_DURUMU', 'MEDENI_DURUMU', 'ID'],
      dtype='object')

In [67]:
analize_girmeyecekler = ['Unnamed: 0', 'ORTAK_ID', 'KURUM_ID', 'YIL', 'IL_ADI', 'ID']
analize_girecekler = list(  set(df.columns).difference(set(analize_girmeyecekler))   )
analize_girecekler

['SERMAYE',
 'ASKERLIK_DURUMU',
 'BAK_YUK_OLDUGU_KISI_SAYISI',
 'TOPLAM_BORC',
 'COGRAFI_BOLGE',
 'VADESI_GECEN_BORC',
 'OGRENIM_DURUMU',
 'MEDENI_DURUMU',
 'CINSIYET',
 'UST_KURUM_NO',
 'YILLIK_MIN_GELIR']

In [68]:
df[analize_girecekler].head()

,SERMAYE,ASKERLIK_DURUMU,BAK_YUK_OLDUGU_KISI_SAYISI,TOPLAM_BORC,COGRAFI_BOLGE,VADESI_GECEN_BORC,OGRENIM_DURUMU,MEDENI_DURUMU,CINSIYET,UST_KURUM_NO,YILLIK_MIN_GELIR
0,1600.0,Y,2.0,48895.32,M,0.00,I,E,E,B020000,29808.0
1,1600.0,Y,2.0,48895.32,M,0.00,I,E,E,B020000,56432.0
2,1600.0,Y,2.0,48895.32,M,0.00,I,E,E,B020000,6750.0
3,1000.0,Y,5.0,23852.07,I,0.00,I,E,E,B070000,27000.0
4,1300.0,Y,3.0,69818.71,M,1054.16,O,E,E,B020000,81552.0

# Analize girecek kategorik değişkenlerimiz

In [69]:
analize_girecek_kategorikler = []
for i in analize_girecekler:
    if (df[i].dtypes == 'object'):
        print(i)
        analize_girecek_kategorikler.append(i)
analize_girecek_kategorikler

ASKERLIK_DURUMU
COGRAFI_BOLGE
OGRENIM_DURUMU
MEDENI_DURUMU
CINSIYET
UST_KURUM_NO

['ASKERLIK_DURUMU',
 'COGRAFI_BOLGE',
 'OGRENIM_DURUMU',
 'MEDENI_DURUMU',
 'CINSIYET',
 'UST_KURUM_NO']

In [70]:
# Her kategorik değişken için kaç farklı tekil kategori var 
print("UST_KURUM_NO:",len(df['UST_KURUM_NO'].unique()))
print("COGRAFI_BOLGE:",len(df['COGRAFI_BOLGE'].unique()))
print("CINSIYET:",len(df['CINSIYET'].unique()))
print("ASKERLIK_DURUMU:",len(df['ASKERLIK_DURUMU'].unique()))
print("OGRENIM_DURUMU:",len(df['OGRENIM_DURUMU'].unique()))
print("MEDENI_DURUMU:",len(df['MEDENI_DURUMU'].unique()))
# Aşırı kategori istenmez mümkünse her bir kategorik nitelik 10-15 ten fazla

UST_KURUM_NO: 17
COGRAFI_BOLGE: 7
CINSIYET: 2
ASKERLIK_DURUMU: 6
OGRENIM_DURUMU: 7
MEDENI_DURUMU: 6

In [71]:
df[analize_girecekler].head()

,SERMAYE,ASKERLIK_DURUMU,BAK_YUK_OLDUGU_KISI_SAYISI,TOPLAM_BORC,COGRAFI_BOLGE,VADESI_GECEN_BORC,OGRENIM_DURUMU,MEDENI_DURUMU,CINSIYET,UST_KURUM_NO,YILLIK_MIN_GELIR
0,1600.0,Y,2.0,48895.32,M,0.00,I,E,E,B020000,29808.0
1,1600.0,Y,2.0,48895.32,M,0.00,I,E,E,B020000,56432.0
2,1600.0,Y,2.0,48895.32,M,0.00,I,E,E,B020000,6750.0
3,1000.0,Y,5.0,23852.07,I,0.00,I,E,E,B070000,27000.0
4,1300.0,Y,3.0,69818.71,M,1054.16,O,E,E,B020000,81552.0

In [72]:
# analize girecek dataframe içinden kategorik (string) 
# drop_first gölge değişkenleri düşür

df_dummy = pd.get_dummies(df[analize_girecekler], 
                          drop_first=True,
                          prefix=analize_girecek_kategorikler)

In [73]:
df_dummy.drop('ASKERLIK_DURUMU_R', axis=1, inplace=True)

In [74]:
df_dummy.head()

,SERMAYE,BAK_YUK_OLDUGU_KISI_SAYISI,TOPLAM_BORC,VADESI_GECEN_BORC,YILLIK_MIN_GELIR,ASKERLIK_DURUMU_M,ASKERLIK_DURUMU_P,ASKERLIK_DURUMU_T,ASKERLIK_DURUMU_Y,COGRAFI_BOLGE_D,...,UST_KURUM_NO_B080000,UST_KURUM_NO_B090000,UST_KURUM_NO_B100000,UST_KURUM_NO_B110000,UST_KURUM_NO_B120000,UST_KURUM_NO_B130000,UST_KURUM_NO_B140000,UST_KURUM_NO_B150000,UST_KURUM_NO_B160000,UST_KURUM_NO_B170000
0,1600.0,2.0,48895.32,0.00,29808.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1600.0,2.0,48895.32,0.00,56432.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1600.0,2.0,48895.32,0.00,6750.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1000.0,5.0,23852.07,0.00,27000.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1300.0,3.0,69818.71,1054.16,81552.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
df_dummy.columns

Index(['SERMAYE', 'BAK_YUK_OLDUGU_KISI_SAYISI', 'TOPLAM_BORC',
       'VADESI_GECEN_BORC', 'YILLIK_MIN_GELIR', 'ASKERLIK_DURUMU_M',
       'ASKERLIK_DURUMU_P', 'ASKERLIK_DURUMU_T', 'ASKERLIK_DURUMU_Y',
       'COGRAFI_BOLGE_D', 'COGRAFI_BOLGE_E', 'COGRAFI_BOLGE_G',
       'COGRAFI_BOLGE_I', 'COGRAFI_BOLGE_K', 'COGRAFI_BOLGE_M',
       'OGRENIM_DURUMU_L', 'OGRENIM_DURUMU_O', 'OGRENIM_DURUMU_R',
       'OGRENIM_DURUMU_T', 'OGRENIM_DURUMU_U', 'OGRENIM_DURUMU_Y',
       'MEDENI_DURUMU_Boşanmış', 'MEDENI_DURUMU_Dul', 'MEDENI_DURUMU_E',
       'MEDENI_DURUMU_Evliliğin Feshi', 'MEDENI_DURUMU_Evliliğin İptali',
       'CINSIYET_K', 'UST_KURUM_NO_B020000', 'UST_KURUM_NO_B030000',
       'UST_KURUM_NO_B040000', 'UST_KURUM_NO_B050000', 'UST_KURUM_NO_B060000',
       'UST_KURUM_NO_B070000', 'UST_KURUM_NO_B080000', 'UST_KURUM_NO_B090000',
       'UST_KURUM_NO_B100000', 'UST_KURUM_NO_B110000', 'UST_KURUM_NO_B120000',
       'UST_KURUM_NO_B130000', 'UST_KURUM_NO_B140000', 'UST_KURUM_NO_B150000',
       'UST_KURUM_NO_B160000', 'UST_KURUM_NO_B170000'],
      dtype='object')

## Modele borcu olmayanaları dahil etmeyelim

In [76]:
# VADESI_GECEN_BORC 0 olanları veriden çıkaralım
df_dummy = df_dummy.loc[ df_dummy['VADESI_GECEN_BORC'] != 0.0 ]

# Nitelikleri yeniden sırala

In [112]:
df = df_dummy[[ 'TOPLAM_BORC', 'SERMAYE', 'COGRAFI_BOLGE_I','COGRAFI_BOLGE_G',
               'UST_KURUM_NO_B080000','CINSIYET_K','VADESI_GECEN_BORC']]

In [113]:
df.head()

,TOPLAM_BORC,SERMAYE,COGRAFI_BOLGE_I,COGRAFI_BOLGE_G,UST_KURUM_NO_B080000,CINSIYET_K,VADESI_GECEN_BORC
4,69818.71,1300.0,0,0,0,0,1054.16
5,69818.71,1300.0,0,0,0,0,1054.16
15,44077.59,500.0,0,0,0,1,7427.49
49,74879.71,1300.0,0,0,0,0,5617.95
50,74879.71,1300.0,0,0,0,0,5617.95

In [114]:
# Girdi değişkenlerin hedef değişken ile korelasyonları
df.corrwith(df['VADESI_GECEN_BORC']).sort_values(ascending=False)

VADESI_GECEN_BORC       1.000000
TOPLAM_BORC             0.602821
SERMAYE                 0.402587
COGRAFI_BOLGE_I         0.075301
COGRAFI_BOLGE_G         0.059222
UST_KURUM_NO_B080000    0.057957
CINSIYET_K              0.050716
dtype: float64

# Veri setini X ve y olarak ayırma (Dikey bölme)

In [115]:
# Nitelikler matrisi (feature matrix)
X = df.iloc[:,:-1].values
X.shape

(211878, 6)

In [116]:
X[:2]

array([[69818.71,  1300.  ,     0.  ,     0.  ,     0.  ,     0.  ],
       [69818.71,  1300.  ,     0.  ,     0.  ,     0.  ,     0.  ]])

In [117]:
type(X)

numpy.ndarray

In [118]:
# VADESI_GECEN_BORC hedef değişken 8. indekste
y = df.iloc[:,-1].values
y.shape

(211878,)

In [119]:
type(y)

numpy.ndarray

In [120]:
y[:40]

array([1.05416000e+03, 1.05416000e+03, 7.42749000e+03, 5.61795000e+03,
       5.61795000e+03, 5.61795000e+03, 3.30919000e+03, 2.59513010e+05,
       2.59513010e+05, 2.59513010e+05, 7.84400000e+01, 4.23130000e+02,
       2.82314900e+04, 2.82314900e+04, 2.82314900e+04, 1.64130000e+02,
       1.64130000e+02, 4.91143000e+03, 4.91143000e+03, 4.91143000e+03,
       1.02123600e+05, 1.02123600e+05, 1.02123600e+05, 1.02123600e+05,
       4.85328000e+03, 9.48360000e+02, 9.48360000e+02, 8.84810000e+02,
       8.84810000e+02, 2.72974000e+03, 1.14306332e+06, 1.14306332e+06,
       1.14306332e+06, 1.14306332e+06, 1.40275840e+05, 1.29504750e+05,
       1.29504750e+05, 6.20924000e+03, 6.20924000e+03, 9.32886300e+04])

# Veri setini train-test olarak ayırma (yatay bölme)

In [121]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
            test_size=0.25, random_state = 142)

In [122]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(158908, 6)
(158908,)
(52970, 6)
(52970,)

# Lineer Regresyon Nesnesi Oluşturma (Boş model yaratma)

In [123]:
from sklearn.linear_model import LinearRegression

In [124]:
regressor = LinearRegression()

# Lineer modeli eğitme (modeli şekillendirme - veriye uydurma - eğitme)

In [125]:
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Eğitilmiş modelle (makine) test seti kullanarak tahmin

In [126]:
y_pred = regressor.predict(X_test)

## Tahmin sonuçlarını numpy.ndarray'den dataframe yapma (İncelemek daha Kolay)

In [127]:
predictions = pd.DataFrame(data=y_pred,    # values
                index=range(len(y_pred)),    # 1st column as index
                   columns=['y_pred'])  # 1st row as the column names

# Sadece y_pred'den oluşan df'e test(gerçek) y_test'i sütun olarak ekleme
predictions['y_test'] = y_test
predictions[predictions['y_test']  > 1].head(15)

           y_pred     y_test
0    19934.498127    1572.85
1    12256.191851     777.71
2   144306.374346   11325.65
3    18675.932099   68517.64
4    54410.557093   16423.91
5     2198.713251    1607.51
6    39085.734789    3450.81
7     7735.745076     217.58
8    37957.531664    8194.22
9    55227.437231    8286.38
10   10200.840360     651.11
11   48831.235757  101542.95
12  -32388.235935    7534.25
13   31892.764607    1007.46
14   36629.329455  126995.86

# Regression metrics

## explained_variance

In [128]:
# The sklearn.metrics module implements several loss, score, and utility functions to measure 
# regression performance. Some of those have been enhanced to handle the multioutput case: 
# mean_squared_error, mean_absolute_error, explained_variance_score and r2_score.

In [129]:
from sklearn.metrics import explained_variance_score

In [130]:
explained_variance_score(y_true=y_test, y_pred=y_pred)

0.39595023432213494

## mean_absolute_error

In [131]:
from sklearn.metrics import mean_absolute_error

In [132]:
mean_absolute_error(y_true=y_test, y_pred=y_pred)

50576.597106749505

## r2_score

In [133]:
from sklearn.metrics import r2_score

In [134]:
r2_score(y_test, y_pred)

0.3957215556808735

# Model Anlamlılığı

In [135]:
# Scikit-learn model anlamlılığı için bir araç sunmuyor. 
# Bu sebeple statsmodel modülünü kullanacağız

In [136]:
# !pip install statsmodels

In [137]:
# !pip install patsy

In [138]:
# !pip install factorial

In [139]:
# factorial hatası alınırsa
# !pip install scipy==1.2 --upgrade

In [140]:
import statsmodels.api as sm

In [141]:
# Sabit Ekleme (aslında sabitin önünde bir tane x üzeri 0 var. 
# Onu temsilen yeni bir sütunu 1'ler ile dolduruyoruz)

In [142]:
X = sm.add_constant(X)

In [143]:
X.shape

(211878, 7)

In [144]:
X[:2]

array([[1.000000e+00, 6.981871e+04, 1.300000e+03, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00],
       [1.000000e+00, 6.981871e+04, 1.300000e+03, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00]])

In [145]:
reg_OLS_model = sm.OLS(endog=y, exog=X).fit()

In [146]:
reg_OLS_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.391
Model:                            OLS   Adj. R-squared:                  0.391
Method:                 Least Squares   F-statistic:                 2.269e+04
Date:                Thu, 04 Jul 2019   Prob (F-statistic):               0.00
Time:                        10:40:39   Log-Likelihood:            -2.7319e+06
No. Observations:              211878   AIC:                         5.464e+06
Df Residuals:                  211871   BIC:                         5.464e+06
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5573.6986    346.153     16.102      0.000    4895.248    6252.149
x1             0.4780      0.002    276.357      0.000       0.475       0.481
x2           -19.6181      0.225    -87.257      0.000     -20.059     -19.177
x3          1.436e+04    631.276     22.749      0.000    1.31e+04    1.56e+04
x4         -5202.5999   1178.134     -4.416      0.000   -7511.712   -2893.487
x5          2.788e+04   1128.121     24.716      0.000    2.57e+04    3.01e+04
x6          1.235e+04    710.941     17.374      0.000     1.1e+04    1.37e+04
==============================================================================
Omnibus:                   149086.875   Durbin-Watson:                   1.081
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         23539774.323
Skew:                           2.471   Prob(JB):                         0.00
Kurtosis:                      54.400   Cond. No.                     1.53e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.53e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [333]:
df.columns

Index(['TOPLAM_BORC', 'BAK_YUK_OLDUGU_KISI_SAYISI', 'YILLIK_MIN_GELIR',
       'SERMAYE', 'MEDENI_DURUMU_Boşanmış', 'MEDENI_DURUMU_Dul',
       'MEDENI_DURUMU_E', 'MEDENI_DURUMU_Evliliğin İptali',
       'UST_KURUM_NO_B020000', 'UST_KURUM_NO_B030000', 'UST_KURUM_NO_B040000',
       'UST_KURUM_NO_B050000', 'UST_KURUM_NO_B060000', 'UST_KURUM_NO_B070000',
       'UST_KURUM_NO_B080000', 'UST_KURUM_NO_B090000', 'UST_KURUM_NO_B100000',
       'UST_KURUM_NO_B110000', 'UST_KURUM_NO_B120000', 'UST_KURUM_NO_B130000',
       'UST_KURUM_NO_B140000', 'UST_KURUM_NO_B150000', 'UST_KURUM_NO_B160000',
       'UST_KURUM_NO_B170000', 'COGRAFI_BOLGE_D', 'COGRAFI_BOLGE_E',
       'COGRAFI_BOLGE_G', 'COGRAFI_BOLGE_I', 'COGRAFI_BOLGE_K',
       'COGRAFI_BOLGE_M', 'OGRENIM_DURUMU_L', 'OGRENIM_DURUMU_O',
       'OGRENIM_DURUMU_R', 'OGRENIM_DURUMU_T', 'OGRENIM_DURUMU_U',
       'OGRENIM_DURUMU_Y', 'CINSIYET_K', 'ASKERLIK_DURUMU_M',
       'ASKERLIK_DURUMU_P', 'ASKERLIK_DURUMU_T', 'ASKERLIK_DURUMU_Y',
       'VADESI_GECEN_BORC'],
      dtype='object')