    Pandas, Python programlama dili için yüksek performanslı, kullanımı kolay veri yapıları ve veri analizi araçları sağlayan, açık kaynaklı, BSD lisanslı bir kütüphanedir.
    Proje ana sayfası: https://pandas.pydata.org/

In [1]:
import pandas as pd

# Pandas ile Veri Okuma

In [6]:
df = pd.read_csv("D:\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\simple_data.csv")

In [7]:
df.head(10)

   sirano      isim  yas       meslek     sehir  aylik_gelir
0       1     Cemal   35         Isci    Ankara         3500
1       2     Ceyda   42        Memur   Kayseri         4200
2       3     Timur   30     Müzisyen  Istanbul         9000
3       4     Burcu   29  Pazarlamaci    Ankara         4200
4       5   Yasemin   23  Pazarlamaci     Bursa         4800
5       6       Ali   33        Memur    Ankara         4250
6       7     Dilek   29  Pazarlamaci  Istanbul         7300
7       8     Murat   31     Müzisyen  Istanbul        12000
8       9     Ahmet   33       Doktor    Ankara        18000
9      10  Muhittin   46       Berber  Istanbul        12000

# Pandas Dataframe Şekli, Boyutu

In [8]:
df.shape

(15, 6)

In [1]:
# Yukarıdaki bilgiden 15 satır 6 sütundan oluştuğunu anlıyoruz.

# Dataframe hakkında daha detaylı bilgi

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
sirano         15 non-null int64
isim           15 non-null object
yas            15 non-null int64
meslek         15 non-null object
sehir          15 non-null object
aylik_gelir    15 non-null int64
dtypes: int64(3), object(3)
memory usage: 800.0+ bytes

# Okurken sütun seçmek, sep ve header

In [2]:
# sep="," niteliklerin birbirinden virgülile ayrılacaını söyler. Varsayılan virgüldür.
# Farklı bir ayraç için mutlaka bu parametre kullanılmalıdır.

In [10]:
df_melek_gelir = pd.read_csv("D://egitim//verilen//bogazici-compec-python-ml//Datasets/simple_data.csv",
                sep=",",
                header=0,
                usecols=["meslek","aylik_gelir"])

In [11]:
df_melek_gelir.head()

        meslek  aylik_gelir
0         Isci         3500
1        Memur         4200
2     Müzisyen         9000
3  Pazarlamaci         4200
4  Pazarlamaci         4800

# Sütun İsimlerini Değiştirmek

In [20]:
new_col_names = ['SIRANO','ISIM','YAS','MESLEK','SEHIR','AYLIK_GELIR']
df.columns = new_col_names
df.head()

   SIRANO     ISIM  YAS       MESLEK     SEHIR  AYLIK_GELIR
0       1    Cemal   35         Isci    Ankara         3500
1       2    Ceyda   42        Memur   Kayseri         4200
2       3    Timur   30     Müzisyen  Istanbul         9000
3       4    Burcu   29  Pazarlamaci    Ankara         4200
4       5  Yasemin   23  Pazarlamaci     Bursa         4800

# Sütunları Seçmek

In [22]:
df['AYLIK_GELIR'].head()

0    3500
1    4200
2    9000
3    4200
4    4800
Name: AYLIK_GELIR, dtype: int64

In [23]:
df.AYLIK_GELIR.head()

0    3500
1    4200
2    9000
3    4200
4    4800
Name: AYLIK_GELIR, dtype: int64

###  Birden fazla sütunu seçmek (liste içinde seçmeyi unutmayın!!!)

In [26]:
df[['ISIM','MESLEK']].head()

      ISIM       MESLEK
0    Cemal         Isci
1    Ceyda        Memur
2    Timur     Müzisyen
3    Burcu  Pazarlamaci
4  Yasemin  Pazarlamaci

# Yeni Sütun Eklemek

In [27]:
df['AYLIK_GELIR_DOLAR'] = df.AYLIK_GELIR / 5.5

In [29]:
df.head()

   SIRANO     ISIM  YAS       MESLEK     SEHIR  AYLIK_GELIR  AYLIK_GELIR_DOLAR
0       1    Cemal   35         Isci    Ankara         3500         636.363636
1       2    Ceyda   42        Memur   Kayseri         4200         763.636364
2       3    Timur   30     Müzisyen  Istanbul         9000        1636.363636
3       4    Burcu   29  Pazarlamaci    Ankara         4200         763.636364
4       5  Yasemin   23  Pazarlamaci     Bursa         4800         872.727273

# Sütunları Birleştirmek

In [30]:
df['MESLEK_SEHİR'] = df['MESLEK'] + ' - ' + df['SEHIR']

In [31]:
df.head()

,SIRANO,ISIM,YAS,MESLEK,SEHIR,AYLIK_GELIR,AYLIK_GELIR_DOLAR,MESLEK_SEHİR
0,1,Cemal,35,Isci,Ankara,3500,636.363636,Isci - Ankara
1,2,Ceyda,42,Memur,Kayseri,4200,763.636364,Memur - Kayseri
2,3,Timur,30,Müzisyen,Istanbul,9000,1636.363636,Müzisyen - Istanbul
3,4,Burcu,29,Pazarlamaci,Ankara,4200,763.636364,Pazarlamaci - Ankara
4,5,Yasemin,23,Pazarlamaci,Bursa,4800,872.727273,Pazarlamaci - Bursa

# Her satır için benzersiz bir id oluşturmak

In [30]:
# Kaç satır var?
df.count()

SIRANO               15
ISIM                 15
YAS                  15
MESLEK               15
SEHIR                15
AYLIK_GELIR          15
AYLIK_GELIR_DOLAR    15
MESLEK_SEHİR         15
dtype: int64

In [32]:
df['ID'] = range(0,15)
df.head()

,SIRANO,ISIM,YAS,MESLEK,SEHIR,AYLIK_GELIR,AYLIK_GELIR_DOLAR,MESLEK_SEHİR,ID
0,1,Cemal,35,Isci,Ankara,3500,636.363636,Isci - Ankara,0
1,2,Ceyda,42,Memur,Kayseri,4200,763.636364,Memur - Kayseri,1
2,3,Timur,30,Müzisyen,Istanbul,9000,1636.363636,Müzisyen - Istanbul,2
3,4,Burcu,29,Pazarlamaci,Ankara,4200,763.636364,Pazarlamaci - Ankara,3
4,5,Yasemin,23,Pazarlamaci,Bursa,4800,872.727273,Pazarlamaci - Bursa,4

# Sütunları Yeniden Adlandırmak

In [33]:
sutun_degisimi = {'ID':'ROWID'}
df.rename(columns=sutun_degisimi, inplace=True)

In [34]:
df.head()

,SIRANO,ISIM,YAS,MESLEK,SEHIR,AYLIK_GELIR,AYLIK_GELIR_DOLAR,MESLEK_SEHİR,ROWID
0,1,Cemal,35,Isci,Ankara,3500,636.363636,Isci - Ankara,0
1,2,Ceyda,42,Memur,Kayseri,4200,763.636364,Memur - Kayseri,1
2,3,Timur,30,Müzisyen,Istanbul,9000,1636.363636,Müzisyen - Istanbul,2
3,4,Burcu,29,Pazarlamaci,Ankara,4200,763.636364,Pazarlamaci - Ankara,3
4,5,Yasemin,23,Pazarlamaci,Bursa,4800,872.727273,Pazarlamaci - Bursa,4

# Sütunların Sırasını Değiştirmek

In [37]:
# Yeni sıraya göre dataframe'i takrar kendine atayalım

In [35]:
df = df[['ROWID','SIRANO','ISIM','YAS','MESLEK','SEHIR','AYLIK_GELIR','AYLIK_GELIR_DOLAR','MESLEK_SEHİR']]

In [36]:
df.head()

,ROWID,SIRANO,ISIM,YAS,MESLEK,SEHIR,AYLIK_GELIR,AYLIK_GELIR_DOLAR,MESLEK_SEHİR
0,0,1,Cemal,35,Isci,Ankara,3500,636.363636,Isci - Ankara
1,1,2,Ceyda,42,Memur,Kayseri,4200,763.636364,Memur - Kayseri
2,2,3,Timur,30,Müzisyen,Istanbul,9000,1636.363636,Müzisyen - Istanbul
3,3,4,Burcu,29,Pazarlamaci,Ankara,4200,763.636364,Pazarlamaci - Ankara
4,4,5,Yasemin,23,Pazarlamaci,Bursa,4800,872.727273,Pazarlamaci - Bursa